Before you can configure and use SunMailer, you must configure PHPMailer.  Go to:

<a href="&base_url&admin/settings/sunmailer/configure/settings">Administer > Site configuration > SunMailer > Configure SunMailer > PHPMailer settings</a>

The first task is to tell SunMailer where to find PHPMailer.  This can be done in one of two ways:
<ol>
<li><em>(Recommended)</em> Add the directory containing PHPMailer to PHP's include path.  Leave the PHPMailer path field blank.  This method is required if you want to run SunMailer's tests with the <a href="http://drupal.org/project/simpletest">SimpleTest</a> module.</li>
<li>Fill in the PHPMailer path field with the directory containing PHPMailer.  On Linux, the command <em>locate class.phpmailer.php</em> can help you find this directory.</li>
</li>

Basic settings contains some basic information SunMailer needs to send any email.  The next part, Mail settings, gives you an option to send mail using mail, sendmail, or SMTP.  For SMTP, you can use authentication, SSL, and TLS.

For Advanced settings, here is an in-depth explanation of some of these settings:
<ul>
<li><strong>Next email delay</strong> After sending an email, users must wait for the specified amount of time in minutes before sending another email.  This time limit can be overriden, but an override will be logged.  Next mailing delay is useful for preventing users from accidentally sending the same email twice.</li>
<li><strong>Resend attempts</strong> Occasionally, an email will inexplicably fail to send.  Many times, the best cure is to try again.</strong></li>
<li><strong>Maximum number of recipients</strong> If you gain many subscribers, sometimes the mail server cannot handle an email sent to all of them.  If this starts to happen, consider using this setting.  If the number of recipients for an email exceeds the threshold, the email will be split into several identical emails, each containing at most the specified number of recipients.</li>
</ul>

To test the settings you have entered, enter an email address into Test email field and click the Send test email button. 

