<ul>
<li><strong>PHP's XSL extension</strong></li>
<li><strong>Drupal's Views module</strong></li>
<li><strong>PHPMailer</strong> is a third-party library used by SunMailer to send emails.  Many Linux distributions provide it through a package.  If not, you can download it at <a href="http://phpmailer.worxware.com">http://phpmailer.worxware.com</a>.  Download the regular version, not an alternate version such as PHPMailer-FE.  Extract the code to a reasonable location onto your server (e.g.: Ubuntu's libphp-phpmailer creates the directory /usr/share/php/libphp-phpmailer and puts the code there).  If you can only access your Drupal installation and not the entire server, put the code somewhere in the sites folder of your Drupal installation.  You will need to <a href="&path&administer-phpmailer"> configure PHPMailer</a> later.</li>
<li><strong>Cron (optional)</strong> - SunMailer can schedule the newsletter to be sent automatically.  This feature requires cron.  Drupal provides a good guide to set up cron at <a href="http://drupal.org/getting-started/6/install/cron">http://drupal.org/getting-started/6/install/cron</a></li>
<li><strong>Drupal's Date project (optional)</strong> - Both the Date API and the Date Popup modules from Drupal's <a href="http://drupal.org/project/date">Date</a> project will improve the user interface.</li>
</ul>

