SunMailer's menu can be found at <a href="&base_url&admin/settings/sunmailer">Administer > Site configuration > SunMailer</a>.  SunMailer has three permissions:
<ul>
<li><strong>administer sunmailer</strong> Grant to people technically capable of setting up the mail settings for this module.  This also grants the ability to upload redesigns to the newsletter.  Users with this permission can access <a href="&base_url&admin/settings/sunmailer/configure/settings">Configure SunMailer > PHPMailer Settings</a> and <a href="&base_url&admin/settings/sunmailer/configure/formats">Configure SunMailer > Newsletter Formats</a>.</li>
<li><strong>configure sunmailer</strong> Grant to people responsible for selecting the content of the newsletter.  Users with this permission can access <a href="&base_url&admin/settings/sunmailer/configure/header">Configure SunMailer > Newsletter header</a> and <a href="&base_url&admin/settings/sunmailer/configure/sections">Configure SunMailer > Newsletter sections</a>.</li>
<li><strong>send sunmailer</strong> Grant to people responsible for sending the newsletter and other emails.  Users with this permission can access <a href="&base_url&admin/settings/sunmailer/mail">Send email</a> and <a href="&base_url&admin/settings/sunmailer/stats">SunMailer statistics</a>.</li>
</ul>

