The first task is to configure the header of the newsletter.  Go to:

<a href="&base_url&admin/settings/sunmailer/configure/header">Administer > Site configuration > SunMailer > Configure SunMailer > Newsletter header</a>

Here you can set the subject line for emails as well as the title appearing in the header.  For subscribers receiving the newsletter in HTML, you can optionally upload an image to be used in place of the title; the title will become the image's alternate text.  The header also displays today's date; you can change the format of this date or remove the date.

The next task is to select the content for the newsletter.  Go to:

<a href="&base_url&admin/settings/sunmailer/configure/sections">Administer > Site configuration > SunMailer > Configure SunMailer > Newsletter sections</a>

The newsletter is split into multiple sections.  Here you can edit or delete existing sections, or you can add a new section.  Each section has three components:
<ul>
<li><strong>Name</strong> The name appears as the header for the section in the newsletter, unless there is only one section.</li>
<li><strong>View</strong> Select one of the views provided by the Views module.  SunMailer will automatically generate the content for this section by pulling it from the specified view.</li>
<li><strong>Weight</strong> The weight is used to order the sections relative to each other.</li>
</ul>

When creating a new section, users subscribed to every section will also be subscribed to this section.  You can also opt to subscribe every subscriber to this new section.

