If this is your first time sending the newsletter, go to:

<a href="&base_url&admin/settings/sunmailer/mail/settings">Administer > Site configuration > SunMailer > Send email > Newsletter settings</a>

From here, you can set the cutoff date for the newsletter; the newsletter will only include content created after this date.  When SunMailer is initially installed, this date is set to the time of installation.  Every time the newsletter is sent, SunMailer automatically sets the cutoff date to the time the newsletter is sent.  Thus, the next newsletter will only contain new content, and you should rarely have to set the cutoff date yourself.

You can also type in a message that will appear in the header of the newsletter.  For subscribers receiving the email in text, HTML tags will be stripped from the message.

There are two ways to send the newsletter:

<ul>
<li><em>Automatically</em> - Go to <a href="&base_url&admin/settings/sunmailer/mail/schedule">Administer > Site configuration > SunMailer > Send email > Schedule newsletter</a>.  Here you can schedule the newsletter to be sent either on a recurring basis or one time.  The actual time the newsletter gets sent depends on when cron runs.  To schedule the newsletter on a recurring basis, enter the first date to send the newsletter on in Next date and then fill in the rest of the form to determine how frequently to send it.  If you set Next date to a Tuesday but schedule the newsletter to send every Wednesday, Next date will be moved forward to Wednesday.</li>
<li><em>Manually</em> - Go to <a href="&base_url&admin/settings/sunmailer/mail/newsletter">Administer > Site configuration > SunMailer > Send email > Preview and send newsletter</a>.  This will show a preview of the newsletter in the text format as well as links to preview the newsletter in other formats.  If the preview looks OK, check the confirmation checkbox and click the Send button to send the newsletter.<li>
</ul>

Both methods will check for unexpected errors when generating the newsletter and for a newsletter with no content.  These events will be logged if the newsletter is automatically sent or displayed on the page if the newsletter is manually sent.

