Subscription statistics for SunMailer can be accessed two ways:
<ol>
<li><a href="&base_url&admin/settings/sunmailer/stats">Administer > Site configuration > SunMailer > SunMailer statistics</a>
<li>Enabling the <a href="&base_url&admin/build/block">SunMailer statistics</a> block
</ol>

