Only authenticated users can subscribe to SunMailer's newsletter.  There are three points where they can subscribe:

<ol>
<li>The user registration form (can be removed if you do not want to "pollute" this form)</li>
<li>The user profile form, under the Email newsletter category</li>
<li>A subscription block when it is enabled</li>
</ol>

The user can choose to subscribe a certain newsletter format (e.g.: text, HTML) or not subscribe.  If the newsletter has more than one section, the user can also choose which ones to subscribe to.

On the user registration page, one newsletter format (or Not subscribed) will be selected by default, requiring users to either opt-in or opt-out.  To change the default selection, or to remove the subscription form from the user registration form, go to:

<a href="&base_url&admin/settings/sunmailer/configure/subscribe">Administer > Site configuration > SunMailer > Configure SunMailer > Subscription settings</a>

